[submodule "src/LAUNCHER/vgmstream"]
	path = src/LAUNCHER/vgmstream
	url = https://github.com/vgmstream/vgmstream
[submodule "src/LAUNCHER/SDL"]
	path = src/LAUNCHER/SDL
	url = https://github.com/libsdl-org/SDL
